@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Source+Sans+Pro:wght@400;600&display=swap');

$font1: 'Montserrat', sans-serif;
$font2: 'Source Sans Pro', sans-serif;
$primary-color: rgb(33, 90, 112);
$secondary-color: #427747;
$font-color: rgb(0, 0, 0);

div{
    padding: 10px;
}

div#content{
    background-color: $primary-color;
    border: $secondary-color;
    border-style: solid;
    border-radius: 2px;
    width: 600px;
    float: left;
}

label {
    font-family: $font1;
    font-weight: normal;
}

h1 {
    font-family: $font1;
    font-weight: normal;
    color: $font-color;    
}

button.btn-primary,#delete,#post{
    background-color: $secondary-color !important;
    border-color: white;
    color: $font-color;
}
